
/*Background*/
.body{
    background-image: url("https://thumbs.gfycat.com/HarmfulOptimalAlligatorsnappingturtle-size_restricted.gif");  

    width: 100%;
    min-height: 100%;
  
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
    position: relative;
    text-align: center;
    overflow: hidden;

}

/*Banner Text*/
.banner{
    margin-top: -4vw;
    display: flex-inline;
    justify-content: center;

}

.banner #maintitle{
    color: white;
    font-size: 4vw;
}

.banner hr{
    margin-top: -4vw;
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(9, 84, 132), rgba(0, 0, 0, 0));
    width: 80%;
    height: 1px;
}
.banner #secondarytitle{
    margin-top: -0.7vw; 
    font-size: 2vw;
    color: white;
}

/*Mainbox*/
.mainbox{
    align-self: center;
    background-image: url("https://giffiles.alphacoders.com/165/16571.gif"); 
    background-size: cover;
    color: white;
    width: 50vw;
    height: auto;
    min-height: 38vw;
    border-radius: 20px; 
    margin: auto;
    z-index: 0;
    overflow: auto;
}

.topbar_container{
    margin: auto;
    
    align-self: center;
}

.l_topbox{
    
   
    background-color: rgb(0, 144, 144, 0.5);
    border-radius: 20px;
    
    float: left;
    width: 10vw;
    height: 6vw;
    margin: 1vw;
} 

.r_topbox{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 144, 144, 0.5);
    border-radius: 20px;
    align-items: center;
    font-size: 2vw;
    float: right;
    width: 10vw;
    height: 6vw;
    margin: 1vw;
}

.l_topbox table{
    font-size: 1.3vw;
    margin:auto;
}


#reset {
    font-family: "Times New Roman", Times, serif;
    font-size: 2vw;
    color: white;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;

}

#reset:hover{
    color: cyan;
}


.ft{

    
    width: 100%;
    border-collapse: collapse;
}
 
.ftf{
    width: 70%;
    height: 0.1vw;
    padding: 0;
}

.ftv{
    padding: 0;
    height: 0.1vw;
}


/*Middle box*/
.middlebox{
    box-shadow: -8px 6px 5px #004e4e;
    margin: 0;
    margin-top: -2vw;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 144, 144, 0.5); 
    color: white;
    width: 30vw;
    height: 23vw;
    border-radius: 20px; 
}

.mid_container{
    width: 30vw;
    height: 20vw;
    
}



/*2d elements*/
.fightbox{
    height: auto;
    margin-top: 6vw;
   
    
}

.xwing{
    background-image: url("images/xwing.png");
    background-size: cover;
    background-position: center;
    margin: 1vw;
    float: left;
    align-items: center;
    height: 7vw;
    width: 8vw;
    display: flex;
    position: relative;
    z-index: 1;
    animation:
        nudge 3s linear infinite alternate;
    ;
    
}

@keyframes nudge {
  0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0.3vw, 0.3vw);
  }
  
  75% {
    transform: translate(-0.3vw, -0.1vw);
  } 

  90%{
    transform: translate(0.3vw, 0.3vw);
  }
}

.dstar{
    background-image: url("images/dstar.png");
    background-size: cover;
    background-position: center;
    margin: 1vw;
    float: right;
    align-items: center;
    height: 8vw;
    width: 8vw;
    position: relative;
    z-index: 1;
      animation:
        hovering 5s linear infinite alternate;
    ;
    
}

@keyframes hovering {
     0%, 100% {
    transform: translate(0, 0);
  }
  
  50% {
    transform: translate(0, 0.3vw);
  }
  

  90%{
    transform: translate(0, -0.3vw);
  }
}

#beam{
    display: flex;
    background-color: red;
    border-radius:30px;
    position: relative;
    z-index: -1;
    height: 0.1vw;
    width: 3vw;
    margin-top: 2vw;
    
 
}

/*Guess input area*/
#gss_num{
    border-radius: 25px;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
}

#guess{
    width: 17vw;
    border-radius: 25px;
    height: 2vw;
    font-size: 1.1vw; 
    padding-left: 1vw;
}



.entertext{ 
    margin-bottom: -0.1vw;
    font-size: 1.5vw;
}

.guess_box{

    align-items: center;
    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    width: 20vw;
    height: 10vw;
}


/*BottomBox*/
.history_container{
    margin: auto;
    margin-top: 4vw;

    overflow: hidden;
    background-color: brown; 
    color: white;
    width: 17vw;
    height: auto;
    border-radius: 20px; 
}

.guesses{
    overflow: auto;
    border-radius: 20px;
    width: 17vw;
    height: auto;
    max-height: 5.5vw;
}

.gt{
    font-size: 1.1vw;
    text-align: left;
    margin-left: 0.2vw;
    
}

#history{
    border: 3px white;
    margin-top: -1.5vw;
}



/*----------*/
/*Rank box*/
.mid_container2{
    width: 30vw;
    height: 20vw;
    align-items: center;
    text-align: center;
    display: none;
}

#tier_ranking{
    background-size: cover;
    background-position: center;
    margin-top: 1vw;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    border-radius: 15px;
    position: relative;
    
    align-items: center;
    height: 13vw;
    width: 15vw;
    
}


#entertext1{ 
    margin-bottom: -0.1vw;
    font-size: 1.2vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    color: cyan;
    
}

#entertext2{ 

    margin-bottom: -0.1vw;
    font-size: 0.9vw;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
}

#continue{
    border-radius: 25px;
    margin: auto;
    width: 10vw;
    height: 2vw;
    font-size: 1vw;
}

.guess_box2{


    margin: auto;
    margin-top: 10%;
    border-radius: 20px;
    width: 20vw;
    height: 10vw;
}

.tb2 {
    margin-top: -3vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
}



/*instruction module*/
.instructions {
 
    margin: 0 auto;
    margin-top: 1px;
    position: relative;
    align-items: center; 
    display: flex;


}

.instructions a:hover{
    background-color: rgba(0, 56, 107, 0.8);
}

.instructions a{
    margin: 0 auto;
    margin-top: 1px;
    margin-bottom: 3%;
    position: relative;
    
    width: 30%;

    background-color: rgba(102, 0, 81, 1);

    border: 1px white solid;
    border-radius: 25px;

    text-decoration: none;
    text-align: center;
    
    font-size: 1vw;

    color: white;
    padding: 3px;
}

#modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 5;
}

.modal_container{
    border: 5px solid white;
}

.modal__window {
  position: relative;
  background-color: rgba(0, 58, 113, 1);
  text-align: center;
  width:100%;
  height: 100%;
  border-radius: 25px;
  
}
 
.modal__close {
  position: absolute;
  top: -30px;
  right: 0;
}


#modal:not(:target) {
    visibility: hidden; 
    opacity: 0;
}


.xbutton{
    border-radius: 5px;
    width: 25px;
    height: 25px;
}
